<div *ngIf="task !== undefined" class="task-container">
  <span [ngClass]="{ 'text-decoration-line-through': task.done, 'task-not-done': !task.done }">
    {{ task.name }}
  </span>
  <span *ngIf="task.comment">{{ task.comment }}</span>

  <!-- Bouton pour valider/invalider la tâche -->
  <button (click)="onButtonValidate()" [ngClass]="{ 'btn': true, 'btn-success': !task.done, 'btn-warning': task.done }">
    {{ task.done ? 'Invalider' : 'Valider' }}
  </button>

  <!-- Bouton pour supprimer la tâche -->
  <button (click)="onButtonDelete()" [ngClass]="{ 'btn': true, 'btn-danger': true}">Supprimer</button>
</div>